doctype html

html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name="viewport", content='width=device-width, initial-scale=1')

    title Creative Technologist
    meta(name="description", content="")

    //- Twitter Card data
    meta(name="twitter:card", content="summary")
    meta(name="twitter:site", content="@twitter_handle")
    meta(name="twitter:title", content="The Boilerplate Page Title")
    meta(name="twitter:description", content="")
    meta(name="twitter:creator", content="@twitter_handle")

    //- Twitter Summary card images must be at least 120x120px
    meta(name="twitter:image", content="http://www.example.com/image.jpg")

    //- Open Graph data
    meta(property="og:title", content="The Boilerplate Page Title")
    meta(property="og:type", content="website")
    meta(property="og:url", content="http://www.example.com/")
    meta(property="og:image", content="http://example.com/image.jpg")
    meta(property="og:description", content="")
    meta(property="og:site_name", content="Site Name, i.e. Moz")
    meta(property="fb:admins", content="Facebook numeric ID")

    //- Favicons
    link(rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png")
    link(rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16")
    meta(name="application-name" content="&nbsp;")
    meta(name="msapplication-TileColor" content="#000000")
    meta(name="msapplication-TileImage" content="mstile-144x144.png")

    //- Header Resources
    link(rel='stylesheet', href='./css/main.css')

  body
    .visually-hidden
      include includes/_svg-sprite.svg
    
    header.page-header
      .logo
        svg(viewBox='0 0 200 190')
          use(xlink:href='#logo')
      .page-header__text
        | Creative Technologist
    
    .container.container--small
      h1 Heading Type One
        span.sub-heading 
          | Heading Type 1 sub text,
          br 
          | can be broken onto
          br
          | multiple lines
      p
        strong Pellentesque habitant morbi tristique
        |  senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. 
        em Aenean ultricies mi vitae est.
        |  Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, 
        code commodo vitae
        | , ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. 
        a(href='#') Donec non enim
        |  in turpis pulvinar facilisis. Ut felis.
      h2 Header Level Two
      ol
        li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        li Aliquam tincidunt mauris eu risus.
      blockquote
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.
      h3 Header Level Three
      ul
        li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        li Aliquam tincidunt mauris eu risus.
      
      a.button(href="#") Call to Action
      a.button.button--alt(href="#") Call to Action


    
  
  script(src="./js/modernizr.js")
  script(src="./js/main.js")
